<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>feed</title>
    <link rel="stylesheet" href="/stylesheets/feed.css">
    
</head>
<body>
    <header>
        <h1>Printerest Style Image Gallery With Responsive Navigation Bar</h1>
        <h1>crickter images</h1>
    </header>

    <div class="container">
        <div class="box">
            <a href="https://www.bing.com/images/search?view=detailV2&ccid=Szj0UBb1&id=1F29B2CC84E5E15D3E76018A44AEB6F2A0D87E34&thid=OIP.Szj0UBb1RxBc_-Oh3x4HpwHaEK&mediaurl=https%3a%2f%2fwallpaperaccess.com%2ffull%2f2493384.jpg&exph=2880&expw=5120&q=cricket+hd+images&simid=608029157653287272&FORM=IRPRST&ck=C8749E9221D1B093D92FC4E6076425E0&selectedIndex=1&ajaxhist=0&ajaxserp=0">
                <img src="https://th.bing.com/th/id/OIP.Szj0UBb1RxBc_-Oh3x4HpwHaEK?rs=1&pid=ImgDetMain" alt="image" > </a>
            <div class="caption">Virat Kohili</div>
        </div>
        <div class="box">
            <a href="https://www.bing.com/images/search?view=detailV2&ccid=P8t23BTo&id=90B23B2C13028D8213D6FDB674DE2EF2411FB64C&thid=OIP.P8t23BToLE6wqq6DJeWBjQHaFQ&mediaurl=https%3a%2f%2f1.bp.blogspot.com%2f-dLBFCqaJ36g%2fUkPut-2xaeI%2fAAAAAAAACKk%2f_wTx-fVQll8%2fs1600%2fmaster-blaster-sachin-on-batting-picture.jpg&exph=1137&expw=1600&q=cricket+hd+images&simid=608056224546883873&FORM=IRPRST&ck=A7FEFBEBE7E254CEF63002F361DB8139&selectedIndex=13&ajaxhist=0&ajaxserp=0">
                <img src="https://1.bp.blogspot.com/-dLBFCqaJ36g/UkPut-2xaeI/AAAAAAAACKk/_wTx-fVQll8/s1600/master-blaster-sachin-on-batting-picture.jpg" alt="image" > </a>
            <div class="caption">Sachin Tendulkar</div>
        </div>
        <div class="box">
            <a href="https://www.bing.com/images/search?view=detailV2&ccid=5BW3Ke%2Fr&id=A9F0F6E6FD535DE888CC9432226B22725F8F7571&thid=OIP.5BW3Ke_rWcLuy-B0kilQPgAAAA&mediaurl=https%3A%2F%2Fth.bing.com%2Fth%2Fid%2FR.e415b729efeb59c2eecbe0749229503e%3Frik%3DcXWPX3IiayIylA%26riu%3Dhttp%253a%252f%252f4.bp.blogspot.com%252f-KAHhharhvH0%252fT-Kl7e_SuNI%252fAAAAAAAAATo%252fYFyv7S7Q5uE%252fs1600%252f142513.2.jpg%26ehk%3DwXwx5nmaDjYT2VBx6VLw1NJmDyovBFBJm%252fD5bmUGK0c%253d%26risl%3D%26pid%3DImgRaw%26r%3D0&exph=428&expw=310&q=cricket+hd+images&simid=608017651440552845&form=IRPRST&ck=50CD4549251EE3455AC9785A70AB53B8&selectedindex=3&ajaxhist=0&ajaxserp=0&pivotparams=insightsToken%3Dccid_rwVT2%252Bdc*cp_7ACF41E6BCBAEBDF107EFA7B2B9A4571*mid_2BA5A2320E8275F0630453A1C62F85FC41108CA9*simid_608017797474707342*thid_OIP.rwVT2-dcXaQ6ckUdb-reAAHaJr&vt=0&sim=11&iss=VSI&ajaxhist=0&ajaxserp=0">
                <img src="https://th.bing.com/th/id/R.e415b729efeb59c2eecbe0749229503e?rik=cXWPX3IiayIylA&riu=http%3a%2f%2f4.bp.blogspot.com%2f-KAHhharhvH0%2fT-Kl7e_SuNI%2fAAAAAAAAATo%2fYFyv7S7Q5uE%2fs1600%2f142513.2.jpg&ehk=wXwx5nmaDjYT2VBx6VLw1NJmDyovBFBJm%2fD5bmUGK0c%3d&risl=&pid=ImgRaw&r=0" alt="image" > </a>
            <div class="caption">MS Dhoni</div>
        </div>
    </div>
    <script  src="/app.js"></script>
</body>
</html>